.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    border: 1px solid gray;
    padding: 20px;
    background: #ddb4b4;
    width: 250px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* Mobile */
@media screen and (max-width: 480px) {
  .card {
    width: 90%;
  }
}

/* Tablet */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}