*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Poppins",sans-serif;
    background-color: black;
    color: white;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    padding: 30px;
}

.team-member{
    background: rgb(88, 88, 117);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.team-member img{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
    object-fit: cover;
    border: 1px solid black;
}