/* .card{
    background-color: beige;
    height: 200px;
    width: 200px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
} */

/* .cards{
    display: flex;
    gap: 12px;
}
.card{
    background-color: beige;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.sidebar{
    background-color: beige;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 16px;
}

button{
    margin-top: auto;
}