body{
    font-family: "Poppins",sans-serif;
}
*{
    box-sizing: border-box;
}


.box1{
    font-size: 20px;
    background: lightblue;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px;
}

.box2{
    font-size: 25px;
    background-color: aquamarine;
    border: 5px solid rgb(93, 83, 83);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}