*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.Navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

.menu{
    display: flex;
    list-style: none;
    gap: 10px;
    cursor: pointer;
}