*{
    box-sizing: border-box;
}

body{
    font-family: "Poppins",sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    gap: 20px;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 10px;
}

.card{
    width: 260px;
    height: 300px;
    background: #ecc7c7;
    border: 3px solid rgb(230, 119, 119);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}

button{
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background: #0056b3;
}

.card img{
    height: 100px;
    width: 90px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card:hover {
  box-shadow: 0 12px 20px rgba(0,0,0,0.30);
}