*{
    box-sizing: border-box;
}

.container{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.card{
    background: #fff;
    padding: 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    flex: 1;
}