/* .card{
    height: 100px;
    /* width: 100px; /
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-container{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

@media(min-width:768px){
    .card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card{
        width: calc(50% - 8px);
    }
}

@media(min-width:1024px){
    .card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
} */

/* .navbar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(min-width:768px){
    .navbar{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
} */

.card{
    background-color: beige;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container{
    gap: 16px;
    display: grid;
    grid-template-columns: 1fr;
}

@media(min-width:768px){
    .card-container{
        display: grid;
        grid-template-columns:repeat(2,1fr);
    }
}

@media(min-width:1024px){
    .card-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}