*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body{
    background-color: #f5f7fa;
    color: #333;
}

/* NAVBAR */
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    background-color: #007bff;
    color: white;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li{
    cursor: pointer;
    font-weight: 500;
}

/*Hero section*/

.hero{
    padding: 50px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-text{
    flex: 1;
    padding-right: 40px;
}

.hero-text h1{
    font-size: 42px;
    color: #007bff;
    margin-bottom: 15px;
}

.hero-text p{
    font-size: 18px;
    margin-bottom: 20px;
}

.hero-text button{
    padding: 12px 25px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.hero-text button:hover {
  background-color: #0056b3;
}

.hero-img img{
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0,0, 0.1);
}