*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

button{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    background: #007bff;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 12px;
}