*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.cards{
    display: flex;
    height: 100vh;
    padding: 20px 30px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    flex: 1; /* flex = 1 takes the avalaible space according*/
}