*{
    box-sizing: border-box;
}

body{
    margin-top: 100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    background: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    background: #fff;
    padding: 20px;
    width: 260px;
    height: 500px;
    border: 2px solid #007bff;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.1);
}

.card img{
    height: 220px;
    width: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}

button{
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background: #0056b3;
}
